doctype html
html lang="en"
	head
		/ Essentials
		meta charset="utf-8"
		meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
		title Human Brain Map
		meta name="theme-color" content="#ffffff"
		meta name="description" content="XXXXXX"
		link href="css/style.min.css" rel="stylesheet" type="text/css"
		link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700,900" rel="stylesheet"
		link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png"
		link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png"
		link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png"
	body
		main.main-wrapper
			header.header-wrapper
				.container
					h1.site-name 
						a.site-link href=""
							// img.site-logo src="img/brain.svg" width="20" height="20"
							| Human
							br
							| Brain
							br
							| Map
			section.brain-wrapper
			section.regions-wrapper
				.container
					h2 Regions
			section.settings-wrapper
				.container
					h2 Settings
					/ .box
					/ 	.container
					/ 		h3 Settings
						
		footer.footer-wrapper
			.container
				small &copy;2018 Brad Mahon
		script src="https://threejs.org/build/three.js"
		script src="https://threejs.org/examples/js/controls/OrbitControls.js"
		script src="https://threejs.org/examples/js/loaders/GLTFLoader.js"
		script src="https://threejs.org/examples/js/WebGL.js"
		script src="https://threejs.org/examples/js/libs/stats.min.js"
		script type="text/javascript" src="js/webgl.js"
		script type="text/javascript" src="js/script.js"
