mixin header()
	header.header-wrapper.container
		h1.site-logo 
			a(href="/") Human Brain Map
		nav.site-links
			a.site-link.home-link(href="/") Explorer
			a.site-link.team-link(href="/team") Our Team