include ./partials/_head
include ./partials/_header
include ./partials/_slice_tool
include ./partials/_svg
include ./partials/_icon
include ./partials/_toggle
include ./partials/_footer

+head()
body.home
	.main-wrapper
		+slice_tool()
		section.brain-wrapper
			+icon("spinner")
		section.content-wrapper
			.action-buttons-wrapper
				button.back-button.outline-button
					+icon("larr-icon")
					| Back
			.container
		.status-wrapper
	.side-wrapper
		+header()
		section.warning
		section.regions-wrapper
			.container
				h2 Regions
				//- select.regions-filter
				//- 	option(placeholder, value="") Select a brain region...
				//- 	for region in regions
				//- 		option(value=region.name)= region.full_name
				.regions-filter
					input.regions-search(placeholder = "Search brain regions..")
					.regions-results
				.box-wrapper
					+toggle("hemisphere-toggle left-hemisphere-toggle", "Left Hemisphere")
					+toggle("hemisphere-toggle right-hemisphere-toggle", "Right Hemisphere")
		section.tools-wrapper
			.container
				h2 Tools
				.box-wrapper
					+toggle("slice-toggle", "Slice Tool")
		section.settings-wrapper
			.container
				h2 Settings
				.box-wrapper
					+toggle("head-toggle", "Show Head")
					+toggle("orbit-toggle", "Orbit")
				.box-wrapper
					+toggle("axes-toggle", "Show Axes")
		+footer()
	script(src="js/three.min.js")
	script(src="js/GLTFLoader.min.js")
	script(src="js/OrbitControls.min.js")
	script(src="js/WebGL.min.js")
	script(src="js/jsonp.min.js")
	script(src="js/fuse.min.js")
	script(src="js/brain.js")
