/*===============================
=            Choices            =
===============================*/

$choices-font-size-lg: 16px;
$choices-font-size-md: 14px;
$choices-font-size-sm: 12px;
$choices-bg-color: #f9f9f9;
$choices-bg-color-disabled: #eaeaea;
$choices-bg-color-dropdown: #ffffff;
$choices-keyline-color: #dddddd;
$choices-primary-color: #00bcd4;
$choices-disabled-color: #eaeaea;
$choices-highlight-color: $choices-primary-color;

.choices {
  width: 100%;
  position: relative;
  margin-bottom: var(--padding-large);

  &:focus {
    outline: none;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &.is-disabled {
    .choices__inner,
    .choices__input {
      background-color: $choices-bg-color-disabled;
      cursor: not-allowed;
      user-select: none;
    }
    .choices__item {
      cursor: not-allowed;
    }
  }
}

.choices[data-type*="select-one"] {
  cursor: pointer;

  .choices__input {
    display: block;
    width: 100%;
    padding: 10px;
    border: solid $choices-keyline-color;
    border-width: 1px 0;
    background-color: $white;
    margin: 0;
  }

  &:after {
    // Arrow
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-color: $black transparent transparent transparent;
    border-width: 5px;
    position: absolute;
    right: var(--padding-large);
    top: calc(50% - 2.5px);
    pointer-events: none;
  }
  &.is-open:after {
    border-color: transparent transparent $black transparent;
    top: calc(50% - 10px);
  }
}

.choices[data-type*="text"] {
  .choices__inner {
    cursor: text;
  }
}

.choices__inner {
  display: block;
  background: rgba($white, 0.8);
  padding: var(--padding-small) 2rem var(--padding-small) var(--padding-small);
  border-radius: var(--radius);
  font-weight: 500;
  overflow: hidden;

  .is-open & {
    border-radius: var(--radius) var(--radius) 0 0;
  }
  .is-flipped.is-open & {
    border-radius: 0 0 var(--radius) var(--radius);
  }
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: block;
  width: 100%;
  padding: var(--padding-small);
}

.choices__list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: $choices-bg-color-dropdown;
  background: $white;
  top: 100%;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  overflow: hidden;
  box-shadow: 0 1em 1em rgba($blue-grey-900, 0.2);
  background: $white;

  &.is-active {
    display: block;
  }

  .is-flipped & {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    border-radius: var(--radius) var(--radius) 0 0;
    box-shadow: 0 -1rem 1rem rgba($blue-grey-900, 0.15);
  }
  .choices__list {
    position: relative;
    max-height: 12rem;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
  }
  .choices__item {
    position: relative;
    font-size: 0.9rem;
    line-height: 1;
    font-weight: 500;
    color: $light-blue-900;
    background-color: $light-blue-50;
    border-radius: var(--radius);
    padding: var(--padding-medium);
    margin: var(--padding-medium);
    transition: background-color var(--transition), color var(--transition);

    @media (min-width: $tablet) {
      margin: var(--padding-small);
    }
  }
  .choices__item--selectable {
    &.is-highlighted {
      background: $light-blue-100;
      color: $light-blue-900;
      transition-duration: 0s;
    }
  }
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  user-select: none;
  opacity: 0.5;
}

.choices__input {
  display: block;
  background-color: $white;
  font-size: 0.9;
  border: 0;
  border-radius: 0;
  padding: var(--padding-small);

  &:focus {
    outline: 0;
  }
}

.choices__placeholder {
  opacity: 0.5;
}

.choices__input.is-hidden,
.choices[data-type*="select-one"] .choices__input.is-hidden,
.choices[data-type*="select-multiple"] .choices__input.is-hidden {
  display: none;
}
