@charset "UTF-8";

// Normalize
@import "normalize";

// Variables
$tablet: 35em;

// Reset
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

// Typography
h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 1.1em;
}

// Base Styles
body {
	font: 100%/1.3 sans-serif;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial,
		"Lucida Grande", sans-serif;
	background: white;

	@media (min-width: $tablet) {
		padding-right: 100vh;
	}
}

// Structural Styles
.container {
	padding: 1em;
}

.header-wrapper,
.main-wrapper,
.footer-wrapper {
	position: relative;
	z-index: 10;
}

// Brain wrapper
.brain-wrapper {
	width: 100%;
	height: 100vw;
	background: lightgray;
	box-shadow: inset 0 0 1em lime;

	@media (min-width: $tablet) {
		position: fixed;
		right: 0;
		bottom: 0;
		width: 100vh;
		height: 100vh;
		z-index: 0;
	}
}

