// Charset ===============================================================================
@charset "UTF-8";

// Normalize =============================================================================
@import "normalize";
@import "reset";
@import "extensions";
@import "functions";
@import "palette";

// Variables =============================================================================
$white: white;
$black: black;

$mobile: 22em;
$tablet: 44em;
$desktop: 66em;

$s: 2px;
$shadow: 0 $s * 1 $s * 2 rgba($grey-800, 0.2);
$shadow-hover: 0 $s * 2 $s * 4 rgba($grey-800, 0.2);
$shadow-focus: 0 $s * 3 $s * 6 rgba($grey-800, 0.2);

$shadow: none;
$shadow-focus: none;
$shadow-hover: none;

:root {
	--root-size: 90%;

	--padding-large: 0.75rem;
	--padding-medium: 0.5rem;
	--padding-small: 0.25rem;

	--transition: 0.25s;
	--transition-hover: 0s;
	--transition-decorative: 1s;

	--radius: 0.25rem;

	--sidebar-width: 20rem;
	--spinner-size: 4rem;

	@media (min-width: $tablet) {
		--root-size: 100%;

		--padding-large: 1rem;
		--padding-medium: 0.75rem;
		--padding-small: 0.35rem;
	}

	@media (prefers-reduced-motion: reduce) {
		--transition-decorative: 0s;
		--transition: 0s;
		--transition-hover: 0s;
	}
}

// Base Styles ===========================================================================
body {
	font-size: var(--root-size);
	font-family: Catamaran, Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;
	background: $blue-grey-400;
	color: $blue-grey-900;
}

header,
footer {
	@extend %no-select;
}

// Typography ============================================================================
.home {
	h1,
	h2,
	h3 {
		@extend %no-select;
	}
}

h1,
h2,
h3 {
	line-height: 1.25;
}

h1 {
	font-weight: 600;
	font-size: 1.6em;
}
h2 {
	font-weight: 400;
	font-size: 1.3em;
	margin-bottom: var(--padding-medium);
}
h3 {
	font-weight: 500;
	font-size: 1em;
}
h4 {
	font-weight: 400;
	font-size: 0.9em;
	line-height: 1;
	color: $blue-grey-700;
}
p {
	font-size: 1em;

	& + p {
		margin-top: var(--padding-large);
	}
}

a {
	color: $light-blue-700;
	transition: color var(--transition);

	&:hover {
		color: $light-blue-500;
		transition-duration: var(--transition-hover);
	}

	&:active {
		color: $light-blue-900;
		transition-duration: 0s;
	}
}

small {
	font-size: 0.9em;
}

.button {
	@extend %no-select;

	font-weight: bold;
	padding: var(--padding-medium);
	line-height: 1;
	cursor: pointer;
	border-radius: var(--radius);

	&:active {
		transform: scale3d(1.02, 1.02, 1.02);
	}
}

input {
	display: block;
	font: inherit;
	border: 0;
}

// summary {
// 	&:focus {
// 		outline: 0;
// 	}

// 	h2 {
// 		display: inline-block;
// 		vertical-align: middle;

// 		&:hover {
// 			cursor: pointer;
// 			text-decoration: underline;
// 		}
// 	}
// }

// Structural Styles =====================================================================
.container {
	padding: var(--padding-large);
}

body {
	width: 100%;
	min-height: 100vh;

	@media (min-width: $tablet) {
		display: flex;
		flex-direction: row-reverse;
	}

	&.team {
		display: block;
	}
}

.main-wrapper {
	position: relative;
	width: 100%;
	background-color: mix($blue-grey-900, $black);

	@media (min-width: $tablet) {
		flex: 1;
		width: calc(100% - var(--sidebar-width));
	}
}

.side-wrapper {
	width: 100%;

	@media (min-width: $tablet) {
		width: var(--sidebar-width);
	}
}

// Header ================================================================================
.header-wrapper {
	background-color: $white;
}

.site-logo {
	display: inline-block;
	margin-right: var(--padding-large);

	a {
		text-decoration: none;
		color: $grey-900;
	}
}

.site-links {
	display: block;
	margin-top: var(--padding-small);
}

.site-link {
	display: inline-block;
	margin: 0 0 0 var(--padding-small);
	font-size: 0.9em;
	font-weight: 500;
	text-decoration: none;
	border-radius: var(--radius);
	background: $light-blue-50;
	padding: var(--padding-small) var(--padding-medium);
	transition: background-color var(--transition), color var(--transition),
		opacity var(--transition);
	color: $light-blue-900;

	&:first-child {
		margin-left: 0;
	}

	&:hover {
		background: $light-blue-100;
		color: $light-blue-900;
		transition: 0s;
	}
}

.home .home-link,
.team .team-link {
	background: $light-blue-700;
	color: $white;
	font-weight: 700;

	&:hover {
		opacity: 0.9;
	}
}

// Browser issues wrapper ================================================================
.warning {
	background-color: $red;
	color: $white;
}

// Brain wrapper =========================================================================
.spinner {
	$spinner-size: 5rem;

	position: absolute;
	top: calc(50% - #{$spinner-size/2});
	left: calc(50% - #{$spinner-size/2});
	width: $spinner-size;
	height: $spinner-size;
	animation: loading 1s linear infinite;
	pointer-events: none;

	@keyframes loading {
		to {
			transform: rotate(1turn);
		}
	}
}

.brain-wrapper {
	position: relative;
	width: 100%;
	height: 90vw;
	overflow: hidden;
	transition: transform var(--transition-decorative);

	canvas {
		position: relative;
		z-index: 10;
	}

	@media (min-width: $tablet) {
		height: 100vh;
		transform-origin: center top;
		transform: scale3d(1, 1, 1);
	}

	@media (min-width: $desktop) {
		position: fixed;
		width: calc(100% - var(--sidebar-width));
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 10;
		transform-origin: center;
	}
}

.has-region-content {
	.brain-wrapper {
		&:after {
			display: block;
			content: "";
			position: absolute;
			z-index: 10;
			bottom: 0;
			left: 0;
			right: 0;
			height: 10%;
			background: linear-gradient(
				rgba($black, 0),
				mix($blue-grey-900, $black)
			);
		}

		@media (min-width: $tablet) {
			transform: translate3d(0, -25%, 0);
		}

		@media (min-width: $desktop) {
			transform: translate3d(25%, 0, 0);

			&:after {
				top: 0;
				bottom: 0;
				left: 0;
				right: initial;
				width: 10%;
				height: initial;
				background: linear-gradient(
					90deg,
					mix($blue-grey-900, $black),
					rgba($black, 0)
				);
			}
		}
	}
}

// Slice tool ============================================================================
.slice-tool {
	@extend %no-select;

	display: flex;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	color: $white;
	opacity: 0.5;
	transition: transform var(--transition), opacity var(--transition);
	transform: translate3d(0, 0, 0);
	max-width: 100%;
	white-space: nowrap;

	@media (min-width: $desktop) {
		left: var(--padding-large);
		right: var(--padding-large);
	}

	&.is-hidden {
		transform: translate3d(0, -100%, 0);
		pointer-events: none;
	}

	h2 {
		display: inline-block;
		margin: 0 var(--padding-medium) 0 0;
	}

	input[type="radio"] {
		display: none;
	}

	&:hover,
	&:focus-within {
		opacity: 1;
	}
}

.slice-button {
	@extend %no-tap;

	display: inline-block;
	border: 2px solid $white;
	background: $black;
	padding: 0 var(--padding-small);
	line-height: calc(2rem - 10px);
	border-radius: 0;

	@media (min-width: $desktop) {
		padding: var(--padding-small) var(--padding-medium);
	}

	&:nth-of-type(1) {
		border-radius: var(--radius) 0 0 var(--radius);
	}

	&:nth-of-type(2) {
		border-width: 2px 0;
	}

	&:nth-of-type(3) {
		border-radius: 0 var(--radius) var(--radius) 0;
	}

	&:hover {
		transition-duration: var(--transition-hover);
		opacity: 1;
	}

	input[type="radio"]:checked + & {
		background: $white;
		color: $black;

		&:after {
			content: "-axis";
		}
	}
}

.slice-range {
	display: inline-block;
	flex: 1;
	margin-left: var(--padding-medium);
	cursor: col-resize;
	height: 2rem;
	background: linear-gradient;

	&:focus {
		outline: 0;
	}
}

@mixin slice-slider-thumb {
	-webkit-appearance: none;
	width: 2rem;
	height: 2rem;
	margin-top: -0.25rem;
	border-radius: 50%;
	background: $black;
	border: 2px solid $white;
	cursor: col-resize;

	&:hover {
		background: $white;
	}
}

@mixin slice-slider-track {
	width: 100%;
	height: 1.5rem;
	cursor: pointer;
	background: rgba($white, 0.5);
	background: linear-gradient(
		transparent 0,
		transparent calc(50% - 1px),
		white calc(50% - 1px),
		white calc(50% + 1px),
		transparent calc(50% + 1px),
		transparent 100%
	);
}

.slice-range::-webkit-slider-thumb {
	@include slice-slider-thumb;
}
.slice-range::-moz-slider-thumb {
	@include slice-slider-thumb;
}
.slice-range::-moz-range-thumb {
	@include slice-slider-thumb;
}
.slice-range::-ms-thumb {
	@include slice-slider-thumb;
}

.slice-range::-webkit-slider-runnable-track {
	@include slice-slider-track;
}
.slice-range::-moz-range-track {
	@include slice-slider-track;
}
.slice-range::-ms-track {
	@include slice-slider-track;
}

// Loading indicator =====================================================================
.status-wrapper {
	position: absolute;
	z-index: 100;
	bottom: 0;
	right: 0;
	color: $blue-grey-50;
	font-weight: 500;
	pointer-events: none;
}

.status {
	animation: fade 1s 2s both;

	@keyframes fade {
		to {
			opacity: 0;
		}
	}
}

// Content Wrapper =======================================================================
.content-wrapper {
	color: $blue-grey-100;

	.container {
		display: none;
	}

	@media (min-width: $tablet) {
		padding: var(--padding-large);
	}

	@media (min-width: $desktop) {
		margin: var(--padding-large) 0 0;
		transition: margin-top var(--transition);
		will-change: margin-top;

		.slice-tool:not(.is-hidden) ~ & {
			margin-top: 4.25rem;
		}
	}

	h2 {
		margin: 0 0 var(--padding-small);
		color: $blue-grey-50;
		font-size: 2em;
		line-height: 1.1;
	}

	@at-root .has-region-content & {
		@media (min-width: $tablet) {
			margin: -50vh 0 0;
		}

		@media (min-width: $desktop) {
			margin: 0;
			width: 50%;
		}
	}
}

.back-button {
	@extend %no-select;

	display: none;
	color: $white;
	border: 2px solid $white;
	padding: var(--padding-medium);
	font-weight: 500;
	border-radius: var(--radius);
	background: transparent;
	margin: 0 var(--padding-large) 0;
	transition: opacity var(--transition);
	opacity: 0.5;
	cursor: pointer;

	&:hover {
		transition-duration: var(--transition-hover);
		opacity: 1;
	}

	&:active {
		transform: scale3d(1.02, 1.02, 1.02);
		background: $blue-grey-700;
		color: $white;
		border-color: $white;
	}

	@media (min-width: $tablet) {
		margin-top: var(--padding-large);
	}
}

.has-content {
	.back-button,
	.content-wrapper .container {
		display: block;
		position: relative;
		z-index: 100;
	}
}

// Regions wrapper =======================================================================
.regions-wrapper {
	background-color: $blue-grey-100;
}

.regions-filter-wrapper {
	height: 3rem;
}

.regions-filter {
	width: 100%;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.25;
	padding: var(--padding-small);
	border-radius: var(--radius);
	font-weight: 500;
	background: $grey-50;
	border: 0;

	&:hover,
	&:focus {
		background: $white;
	}
}

// Regions dropdown ======================================================================
@import "choices";

// Tools wrapper =========================================================================
.tools-wrapper {
	background-color: $blue-grey-200;
}

// Settings wrapper ======================================================================
.settings-wrapper {
	background-color: $blue-grey-300;
	color: $black;
}

// Footer ================================================================================
.footer-wrapper {
	color: $black;
}

// Box ===================================================================================
.box-wrapper {
	position: relative;

	& + & {
		margin-top: var(--padding-medium);
	}

	.box-link {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.box {
	@extend %no-tap;
	display: block;
	position: relative;
	background: rgba($white, 0.8);
	box-shadow: $shadow;
	color: $black;
	box-shadow: inset 0 -1px rgba($black, 0.1);
	transition: transform var(--transition);

	&.container {
		padding: var(--padding-medium);
	}

	&:first-child {
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}
	&:last-child {
		border-bottom-left-radius: var(--radius);
		border-bottom-right-radius: var(--radius);
		box-shadow: none;
	}

	&:hover,
	&:focus {
		background: $white;
		color: $black;
		z-index: 1;
	}

	&:active {
		transition: 0s;
		transform: scale3d(1.02, 1.02, 1.02);
	}
}

.box-link {
	@extend %no-select;
	text-decoration: none;
	cursor: pointer;
}

.box-toggle {
	@extend %no-select;

	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	input[type="checkbox"] {
		display: none;

		&:checked + .toggle {
			background: $light-blue-500;

			&:before {
				transform: translate3d(100%, 0, 0) scale3d(1.15, 1.15, 1.15);
				background: $light-blue-900;
			}
		}
	}
}

.toggle {
	$size: 1.5rem;

	width: $size * 2;
	height: $size;
	margin-left: var(--padding-medium);
	background: $blue-grey-200;
	border-radius: $size;
	transition: background var(--transition);
	opacity: 0.75;
	box-shadow: inset $shadow;

	&:hover {
		opacity: 1;
	}

	&:before {
		@extend %psuedo;
		box-shadow: $shadow;
		width: $size;
		height: $size;
		background: $blue-grey-600;
		border-radius: $size;
		transition: transform var(--transition), background var(--transition);
		transform: scale3d(1.15, 1.15, 1.15);
	}
}

// Team page =============================================================================
.team-wrapper {
	padding: calc(var(--padding-large) / 2);
	background: $blue-grey-100;
}

.team-col {
	vertical-align: top;
	display: inline-block;

	@media (min-width: $tablet) {
		width: 50%;
	}

	@media (min-width: $desktop) {
		width: 33.33%;
	}
}

.team-member-wrapper {
	padding: calc(var(--padding-large) / 2);
}

.team-member {
	background: $white;
	border-radius: var(--radius);
	overflow: hidden;
}

.team-member-photo {
	border-radius: var(--radius);
	float: left;
	margin: 0 var(--padding-large) 0 0;
	width: auto;
	height: 13rem;
}

.team-member-title {
	font-size: 0.9em;
	margin-bottom: var(--padding-small);
	color: $blue-grey-600;
}

.team-member-bio {
	margin: var(--padding-medium) 0 0;
}

// Responsive ============================================================================
.mobile-only {
	display: block;

	@media (min-width: $tablet) {
		display: none;
	}
}

.desktop-only {
	display: none;

	@media (min-width: $tablet) {
		display: block;
	}
}

// Icons =====================================================================
// @mixin icon($icon) {
// 	h3:before {
// 		content: $icon;
// 	}
// }

// .head-toggle {
// 	@include icon("👤");
// }

// .orbit-toggle {
// 	@include icon("🌐");
// }

// .square-grid-toggle {
// 	@include icon("🔲");
// }

// .axes-toggle {
// 	@include icon("➖");
// }

// .slice-toggle {
// 	@include icon("🔪");
// }
