// Charset =====================================================================
@charset "UTF-8";

// Normalize ===================================================================
@import "normalize";
@import "extensions";
@import "functions";

// Variables ===================================================================
$white: #fff;
$black: #16161d;

$offwhite: whitesmoke;

$blue: #2c6bff;
$purple: #5f4bb2;

$heading_wrapper_background: white;
$summary_wrapper_background: mix($black, $white, 10%);
$settings_wrapper_background: mix($black, $white, 80%);
$footer_wrapper_background: mix($black, $white, 90%);
$brain_wrapper_background: $black;

$radius: 3px;
$shadow: 0 1px 2px rgba($black, 0.15);

$padding: 1rem;

$sidebar-width: 25em;
$tablet: 42em;

// Reset =======================================================================
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: 1;
}

// Base Styles =================================================================
body {
	font: 100%/1.3 Merriweather Sans, Helvetica Neue, Helvetica, sans-serif;
	background: $offwhite;

	@media (min-width: $tablet) {
		padding-right: calc(100% - #{$sidebar-width});
	}
}

// Typography ==================================================================
h1,
h2,
h3 {
	font-family: Merriweather Sans;
	font-weight: 900;
}

h1 {
	font-size: 1.8em;
}
h2 {
	font-size: 1.2em;
	font-weight: 800;
}
h3 {
	font-weight: 500;
	font-size: 1.3em;
}

p {
	font-size: 0.85em;
	line-height: 1.5;

	h3 + &,
	& + & {
		margin-top: $padding/2;
	}
}

a {
	color: $blue;

	&:hover {
		color: shade($blue, 20%);
	}

	&:not(.site-link):visited {
		color: $purple;
	}
}

// Structural Styles ===========================================================
.container {
	padding: $padding;
}

.main-wrapper {
	min-height: 100vh;
}

.box {
	position: relative;
	background: $white;
	border-radius: $radius;
	padding: $padding;
	box-shadow: $shadow;

	.settings-wrapper & {
		background: $black;
		color: $offwhite;
	}
}

// Header ======================================================================
.header-wrapper {
	background: $heading_wrapper_background;
}

.site-logo,
.site-name {
	display: inline-block;
	line-height: 1;
}

.site-logo {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	vertical-align: middle;
}

.site-link {
	color: $black;
	text-decoration: none;
}

// Brain wrapper ===============================================================
.brain-wrapper {
	background: $brain_wrapper_background;
	width: 100%;
	height: 100vw;

	@media (min-width: $tablet) {
		position: fixed;
		right: 0;
		bottom: 0;
		width: calc(100% - #{$sidebar-width});
		height: 100vh;
		z-index: 0;
	}
}

// Summary wrapper ============================================================
.summary-wrapper {
	background: $summary_wrapper_background;

	.box {
		border-left: 0.5em solid tomato;
	}
}

// Settings wrapper ============================================================
.settings-wrapper {
	background: $settings_wrapper_background;
	min-height: 50vh;
}

// Footer ======================================================================
.footer-wrapper {
	background: $footer_wrapper_background;
	color: $offwhite;
}

.dg.main.a {
	display: none !important;
}
