include ./_icon

mixin header()
	header.header-wrapper.container
		a.site-logo(href="/")
			+icon("brain")
			h1.site-logo-text Brain Survey
		nav.site-links
			a.site-link.home-link(href="/") Explorer
			a.site-link.team-link(href="/team") Our Team