include ./_icon

mixin header()
	header.header-wrapper.container
		a.site-logo(href="/")
			+icon("brain")
			.site-logo-text
				<span>Translational</span> <span>Brain</span> <span>Mapping</span>
	nav.site-links
		a.site-link.home-link(href="/") Explorer
		a.site-link.team-link(href="/team") Our Team